.book-details{
    padding: 6rem 0;
}
.back-btn{
    margin-left: 20px;
    margin-bottom: 2.6rem;
    transition: var(--transition);
    background-color: var(--purple-color);
    color: var(--white-color);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.back-btn:hover{
    font-weight: 700;
}
.back-btn span{
    margin-left: 1rem;
}
.book-details-content{
    gap: 4rem;
}
.book-details-img{
    max-height: 600px;
    max-width: 500px;
    overflow: hidden;
}
.book-details-img img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book-details-item{
    margin-bottom: 1.4rem;
}
.book-details-item.description{
    opacity: 0.8;
}
.book-details-info{
    overflow-y: scroll;
    max-height: 600px;
    padding: 1.4rem;
}
.book-details-info::-webkit-scrollbar{
    width: 8px;
}
.book-details-info::-webkit-scrollbar-track{
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.book-details-info::-webkit-scrollbar-thumb{
    background-color: var(--purple-color);
    outline: -1px solid slategray;
    border-radius: 8px;
}

.loan-form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .loan-form h3 {
    margin-bottom: 10px;
  }
  
  .loan-form div {
    margin-bottom: 10px;
  }
  
  .loan-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .loan-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .loan-form button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .loan-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
  }
  
  .loan-form button[type="button"] {
    background-color: #6c757d;
    color: #fff;
  }
  

@media screen and (min-width: 868px){
    .book-details-content{
        display: flex;
        justify-content: space-between;
    }
    .book-details-img{
        padding: 0 6rem 0 2rem;
        width: 7300px; /* Cambia el ancho a la mitad */
    }
    .book-details-img img{
        max-width: 100%;
    }
}