.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.list li {
  flex-basis: calc(33.33% - 10rem);
  /* Adjust the width and margin as needed */
  margin: 0.5rem;
}

.list li a {
  height: 30rem;
  width: 100%;
  /* Adjust the width as needed */
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000;
  text-decoration: none;
  background-color: #ffffff;
  text-align: center;
}
.image-container {
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  display: flex; /* Usa flexbox para centrar la imagen */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

.image {
  object-fit: cover;
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 15.5rem; /* Mantén la altura fija */
  display: block; /* Asegura que las imágenes se comporten como bloques */
  margin: auto; /* Centra las imágenes dentro de su contenedor */
  border-radius: 1px black;
  border-color: 10px  black;
}

.content {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not {
  color: grey;
}

.stars {
  margin: 0.5rem 0;
}
.origins {
  flex: 9;
}
.autor p span{
  font-weight: bolder;
}


/* Thumbnails.css */
.image-container img {
  transition: transform 0.2s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.05);
}
