.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .details {
    width: 25rem;
    margin-top: 15px;
  }
  
  .details form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .register {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
  }
form .button {
  align-items: center;
}